#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include /usr/share/quilt/quilt.make

ifeq (,$(DEB_HOST_GNU_TYPE))
	DEB_HOST_GNU_TYPE = $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
endif
ifeq (,$(DEB_BUILD_GNU_TYPE))
	DEB_HOST_GNU_TYPE = $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
endif

CFLAGS = -Wall -g -D_GNU_SOURCE

ifneq (,$(filter noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
	NUMJOBS = $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
	MAKEFLAGS += -j$(NUMJOBS)
endif

VIM_ADIR = $(CURDIR)/debian/tmp/usr/share/vim/addons
VIM_RDIR = $(CURDIR)/debian/tmp/usr/share/vim/registry

CONF_FLAGS = --host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE) --prefix=/usr \
	     --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info \
	     --libdir=\$${prefix}/lib --libexecdir=\$${prefix}/lib --enable-sqlite \
	     --disable-crash --enable-docs --disable-pie --enable-refdocs \
	     --enable-server --enable-grapher --sysconfdir=/etc --without-rpm \
	     --enable-translator

patch: $(patched)

build: build-stamp
build-stamp: $(QUILT_STAMPFN)
	dh build --before dh_auto_configure
	AUTOMAKE=automake-1.11 ACLOCAL=aclocal-1.11 autoreconf -fiv
	CFLAGS="$(CFLAGS)" CXXFLAGS="$(CFLAGS)" ./configure $(CONF_FLAGS)
	$(MAKE)
	dh build --after dh_auto_test
	touch build-stamp

clean: unpatch
	dh clean
	find . -name configure -o -name aclocal.m4 -o -name Makefile.in -exec rm "{}" \;
	rm -f config.in

install: install-stamp
install-stamp: build-stamp
	dh install --before dh_auto_install

	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp
	rm -r debian/tmp/usr/share/systemtap/tapset/test

	# Those files do not realy belong there
	rm debian/tmp/usr/share/doc/systemtap/examples/README
	rm debian/tmp/usr/share/doc/systemtap/examples/html/*.tmpl

	# make sure that all examples are executable (except tutorial)
	find debian/tmp/usr/share/doc/systemtap/examples/ -name \*.stp \! -executable -print -exec chmod +x "{}" \;
	
	# This file should got into both client and server package
	# But -server depends on -client
	mv debian/tmp/usr/share/man/man8/stap-server.8 debian/tmp/usr/share/man/man8/stap-client.8
	# This file does not document stap-server binary, so let's rename it
	# mv debian/tmp/usr/share/man/man8/stap-server.8 debian/tmp/usr/share/man/man8/stap-start-server.8
	# This is not really an executable
	chmod -x debian/tmp/usr/bin/stap-env

	# Install vim files
	install -d $(VIM_ADIR)/ftdetect
	install -d $(VIM_ADIR)/syntax
	install -d $(VIM_ADIR)/indent
	install -d $(VIM_ADIR)/ftplugin
	cp vim/filetype.vim $(VIM_ADIR)/ftdetect/stap.vim
	cp vim/syntax/stap.vim $(VIM_ADIR)/syntax/stap.vim
	cp vim/indent/stap.vim $(VIM_ADIR)/indent/stap.vim
	cp vim/ftplugin/stap.vim $(VIM_ADIR)/ftplugin/stap.vim
	install -d $(VIM_RDIR)
	cp $(CURDIR)/debian/systemtap.yaml $(VIM_RDIR)/

	dh install --after dh_auto_install --before dh_compress
	dh_compress -X.stp -X.wav -Xsocktop -Xsyscalltimes -X.pdf
	dh install --until dh_fixperms
	chmod 4755 debian/systemtap-runtime/usr/bin/staprun
	dh install --after dh_fixperms
	touch install-stamp

binary-arch binary-indep: install
	dh $@

binary: binary-indep binary-arch

.PHONY: build clean binary-indep binary-arch binary install
